# MySQL connection string, e.g. mysql://user:password@localhost:3306/meeronbi
DATABASE_URL=

# NextAuth
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET=

# Seed script: initial admin login created by prisma/seed.ts
SEED_ADMIN_EMAIL=
SEED_ADMIN_PASSWORD=
